@model IEnumerable<DAL.SemSchoolYear>

@{
    ViewBag.Title = "Index";
}

<h2>School Year and Semester</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            School Year Range
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.SemesterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterDateEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Schoolyear.YearFrom  -  @item.Schoolyear.YearTo
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.SemesterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterDateEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
