@model IEnumerable<DAL.TapLog>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Western Mindanao State Univeristy</h1>
    <p class="lead">Identification System using RFID</p>
</div>

<h2>ID Tap Logs</h2>
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Find by StudentID: @Html.TextBox("SearchString") 
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("DateTimeTap", "Index", new { sortOrder = ViewBag.DateTimeTapSort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Course.CourseAbbv)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Course.CourseAbbv)
            </td>
        </tr>
    }

</table>
